@CHARSET "UTF-8";
div.login{
	display:inline-block;
	margin-top: 100px;
}
table.loginBox{
	border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    background: #76cc62;
}
table.loginBox input[type=text],
table.loginBox input[type=password]{
	height: 30px;
    font-size: 14pt;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}
table.loginBox input[type=submit],
table.loginBox input[type=button]{
	width: 100px;
    height: 30px;
    border: 1px solid;
    background: #143fbf;
    color: #fff;
    cursor: pointer;
}
span.errorMsg{
	color: red;
}
a.link{
	color: blue;
	text-decoration: none;
}