/source/C#/WorkAdminProgram/WorkAdminProgram.v12.suo
/source/C#/WorkAdminProgram/WorkAdminProgram/bin
/source/C#/WorkAdminProgram/WorkAdminProgram/obj
/source/C#/WorkAdminProgram/WorkCommon/obj
/source/C#/WorkAdminProgram/WorkCommon/bin
/source/C#/WorkAdminProgram/WorkServer/bin
/source/C#/WorkAdminProgram/WorkServer/obj
/source/C#/WorkAdminProgram/WorkSocketServer/obj
/source/C#/WorkAdminProgram/WorkSocketServer/bin
/source/C#/WorkAdminProgram/WorkWebServer/obj
/source/C#/WorkAdminProgram/WorkWebServer/bin
/source/C#/WorkAdminProgram/WorkServer/*
