/source/C#/WorkAdminProgram/WorkAdminProgram.v12.suo
/source/C#/WorkAdminProgram/WorkAdminProgram/bin
/source/C#/WorkAdminProgram/WorkAdminProgram/obj
/source/C#/WorkAdminProgram/WorkCommon/obj
/source/C#/WorkAdminProgram/WorkCommon/bin
/source/C#/WorkAdminProgram/WorkServer/bin
/source/C#/WorkAdminProgram/WorkServer/obj
/source/C#/WorkAdminProgram/WorkSocketServer/obj
/source/C#/WorkAdminProgram/WorkSocketServer/bin
/source/C#/WorkAdminProgram/WorkWebServer/obj
/source/C#/WorkAdminProgram/WorkWebServer/bin
/source/C#/WorkAdminProgram/WorkServer/*
/source/C#/WebScraping/WebScraping.v12.suo
/source/C#/WebScraping/WebScraping/obj
/source/C#/WebScraping/WebScraping/bin
/source/C#/WebScraping/ScrapCore/obj
/source/C#/WebScraping/ScrapCore/bin
/source/C#/Household/Household/obj
/source/C#/Household/Household/bin
/source/C#/Household/packages
/source/C#/WorkAdminProgram/packages
/source/C#/Household/Household.Tests/bin
/source/C#/Household/Household.Tests/obj
/source/C#/Household/HouseholdORM/bin
/source/C#/Household/HouseholdORM/obj
/source/C#/travel/packages
/source/C#/travel/travel/obj
/source/C#/travel/travel/bin
