/source/C#/WorkAdminProgram/WorkAdminProgram.v12.suo
/source/C#/WorkAdminProgram/WorkAdminProgram/bin
/source/C#/WorkAdminProgram/WorkAdminProgram/obj
/source/C#/WorkAdminProgram/WorkCommon/obj
/source/C#/WorkAdminProgram/WorkCommon/bin
/source/C#/WorkAdminProgram/WorkServer/bin
/source/C#/WorkAdminProgram/WorkServer/obj
/source/C#/WorkAdminProgram/WorkSocketServer/obj
/source/C#/WorkAdminProgram/WorkSocketServer/bin
/source/C#/WorkAdminProgram/WorkWebServer/obj
/source/C#/WorkAdminProgram/WorkWebServer/bin
/source/C#/WorkAdminProgram/WorkServer/*
/source/C#/WebScraping/WebScraping.v12.suo
/source/C#/WebScraping/WebScraping/obj
/source/C#/WebScraping/WebScraping/bin
/source/C#/WebScraping/ScrapCore/obj
/source/C#/WebScraping/ScrapCore/bin
/source/C#/Household/Household/obj
/source/C#/Household/Household/bin
/source/C#/Household/packages
/source/C#/WorkAdminProgram/packages
/source/C#/Household/Household.Tests/bin
/source/C#/Household/Household.Tests/obj
/source/C#/Household/HouseholdORM/bin
/source/C#/Household/HouseholdORM/obj
/source/C#/RefreshRouter/packages
/source/C#/RefreshRouter/RefreshRouter/bin
/source/C#/RefreshRouter/RefreshRouter/obj
/source/C#/DataChecker/DataChecker/obj
/source/C#/DataChecker/DataChecker/bin
/source/C#/AisWebServices/AisSocketServices/obj
/source/C#/AisWebServices/AisSocketServices/bin
/source/Java/DataTransfer/build
/source/Java/DataTransfer/target
/source/Java/HouseholdData/src/META-INF/persistence.xml
/source/Java/WebServiceProject/.settings
/source/Java/WebServiceProject/build

/source/C#/Household2/packages
/source/C#/Household2/Household.Tests/bin
/source/C#/Household2/Household.Tests/obj
/source/C#/Household2/Household/obj
/source/C#/Household2/Household/bin
/source/C#/Household2/HouseholdCore/bin
/source/C#/Household2/HouseholdCore/obj
/source/Php/.metadata
/source/Php/Household/.buildpath
/source/Php/Household/.project
/source/Php/Household/.settings
/source/C#/DataChecker/packages
/source/C#/DataChecker/.vs
/source/Java/WebMok/build
/source/Java/WebMock/build
/source/Java/WebMock/target
/source/C#/Household2/Household/Web_bak.config
/source/Php/Household/Common/DBConn_bak.php
/source/C#/Snipper/Snipper/obj
/source/C#/Snipper/Snipper/bin
/source/C#/Snipper/Snipper.Main/obj
/source/C#/Snipper/Snipper.Main/bin
/source/C#/WebScraping/WebScraping.Test/obj
/source/C#/WebScraping/WebScraping.Test/bin
/source/C#/WebScraping/WebScraping.WebServer/obj
/source/C#/WebScraping/WebScraping.WebServer/bin
/source/Java/AisWebServices2/build
/source/Java/AisWebServices2/target
/source/C#/AisWebServices2/AisProjectCore/TestProject/bin
/source/C#/WebScraping/WebScraping.Library/obj
/source/C#/WebScraping/WebScraping.ServerForm/bin
/source/C#/WebScraping/WebScraping.ServerForm/obj
/source/C#/WebScraping/WebScraping.Commander/bin
/source/C#/WebScraping/WebScraping.Commander/obj
/source/C#/WebScraping/WebScraping.Scraper/bin
/source/C#/WebScraping/WebScraping.Scraper/obj
/source/C#/WebScraping/WebScraping.Dao/obj
/source/C#/WebScraping/WebScraping.Dao/bin
/source/C#/WebScraping/WebScraping.Library/bin
/source/C#/WebScraping/WebScraping.Dao.Create/obj
/source/C#/LogisticsSystem/LogisticsSystem/bin
/source/C#/LogisticsSystem/LogisticsSystem/obj
/source/C#/LogisticsSystem/packages
/source/C#/pgsqlExample/packages
/source/C#/pgsqlExample/pgsqlExample/bin
/source/C#/pgsqlExample/pgsqlExample/obj
/source/C#/ScrappingServer/HttpCore/bin
/source/C#/ScrappingServer/HttpCore/obj
/source/C#/ScrappingServer/ScrappingCore/bin
/source/C#/ScrappingServer/ScrappingCore/obj
/source/C#/ScrappingServer/ScrappingMapParser/bin
/source/C#/ScrappingServer/ScrappingMapParser/obj
/source/C#/ScrappingServer/ScrappingORMCore/bin
/source/C#/ScrappingServer/ScrappingORMCore/obj
/source/C#/ScrappingServer/ScrappingServer2/bin
/source/C#/ScrappingServer/ScrappingServer2/obj

/source/C#/MVC_Hibernate/MVC_Hibernate/bin
/source/C#/MVC_Hibernate/MVC_Hibernate/obj
/source/C#/MVC_Hibernate/packages
/source/C#/WebScraping/packages
/source/C#/WebScraping/Bin
/source/Java/BlogProject/BlogEditer/*
