@charset "UTF-8";

.note-editor .btn {
	white-space: nowrap;
	padding: 5px 12px;
}

.note-editor .note-toolbar.panel-heading {
	font-family: arial;
}

.note-editor .note-toolbar-wrapper.panel-default {
	background-color: #e4e4e4;
	border-bottom: 1px solid #c4c4c4;
	min-height: 40px;
}

.note-editor .note-icon-caret {
	display: none;
}