<html>
    <head>
        <!--link href="/favicon.ico” rel=" shortcut icon" /-->
        <title></title>
        <script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">
                var ua = window.navigator.userAgent;
                if (/lgtelecom/i.test(ua) || /Android/i.test(ua) || /blackberry/i.test(ua) || /iPhone/i.test(ua) || /ipad/i.test(ua) || /samsung/i.test(ua) || /symbian/i.test(ua) || /sony/i.test(ua) || /SCH-/i.test(ua) || /SPH-/i.test(ua)) {
                    //location.href = "/Mobile/Index";
                }
                else {
                    //location.href = "/Web/Index";
                }
                location.href = "/Web/Index";
        </script>
    </head>
    <body>
        _blank
    </body>
</html>