@using Household.Common;
@{
    Layout = "~/Views/master.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/login.css")">
<div class="container">
    <form class="form-signin" method="post" action="/Home/Apply">
        <div class="login-box">
            <h3 class="form-signin-heading title">HOUSEHOLD LEDGER</h3>
            <div class="message">登録されている家計簿がありません。<br />登録しますか？</div>
            <input type="submit" class="applybtn" value="登録 ">
        </div>
    </form>
</div>
