<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration>
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- appender name="Console" type="org.apache.log4j.ConsoleAppender">
		<layout type="org.apache.log4j.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{2}:%L - %m%n" />
		</layout>
	</appender-->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="maxFileSize" value="10KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="file" value="c:/logs/HouseholdData.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{2}:%L - %m%n" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="file" />
		<!-- appender-ref ref="Console" /-->
	</root>
</log4j:configuration>