body {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
    font-family: Arial;
    background-color: #e5f4ff;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

div.login-box {
    border: 3px solid;
    background-color: white;
    border-radius: 10px;
    margin-top: 50%;
    min-width: 300px;
    box-shadow: 3px 3px 3px 3px #928d8d;
}

h3.title {
    /*font-size: 22px !important; */
    font-size: 18pt;
    margin: 0px;
    background: #000;
    padding: 0px;
    color: #fff;
    padding: 10pt;
}

div.login-box input[type=image] {
    width: 94%;
    margin: 10px;
}

div.login-box input[type=submit].applybtn {
    display: block;
    font-size: 24px;
    width: 90%;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

div.login-box input[type=submit].applybtn:hover {
    box-shadow: 1px 1px 1px 1px grey;
}

div.login-box > div.message{
    padding: 10px;
    font-size: 12pt;
}


