.pc-private {
    display: none;
}
/* When the popup appears, the background screen is fixed.*/
html.fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

div.main {
    text-align: center;
}

/* The mobile only disappear style.  */
.mobile-off {
    display: none;
}

/* The minimum size of main screen.*/
div.container {
    min-width: 320px;
    display: inline-block;
    padding-left:15px;
    padding-right:15px;
    width: 100%;
}

/* The register button style.*/
div.table-input > input {
    width: 100%;
    height: 100%;
    background-color: rgba(183, 222, 241, 0.48);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
    padding: 0px;
}

/* The data-title style.*/
div.account-data,
div.credits-data,
div.normal-data,
div.total-data {
    margin-top: 5px;
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* The folding button style */
div.title-data > label:nth-child(1) {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

/* The total amount style.*/
div.title-data > label:nth-child(3),
div.total-data > span {
    float: right;
    margin-right: 10px;
}

/* The generic menu style.*/
div.normal-data {
    background-color: rgba(108, 108, 255, 0.29);
}

/* The account menu style*/
div.account-data {
    background-color: rgba(43, 167, 77, 0.34);
}

/* The credits menu style*/
div.credits-data {
    background-color: rgba(167, 135, 43, 0.34);
}

div.total-data.data-income{
    background-color: rgba(234, 83, 118, 0.48);
}
div.total-data.data-expend{
    background-color: rgba(83, 116, 234, 0.48);
}

/* The data table style*/
table.table-data {
    width: 100%;
}

table.table-data > tbody > tr {
    height: 40px;
}

table.table-data > thead > tr > th {
    text-align: center;
    background-color: #b7def1;
    border-bottom: 1px solid;
    border-left: 1px dotted;
    border-right: 1px dotted;
    font-size: 9pt;
}
table.table-data > tbody > tr > td {
    border-bottom: 1px solid;
    border-left: 1px dotted;
    border-right: 1px dotted;
    font-size: 8pt;
}

table.table-data1 > tbody > tr > td:nth-child(4),
table.table-data2 > tbody > tr > td:nth-child(3),
table.table-data3 > tbody > tr > td:nth-child(2) {
    text-align: left;
    padding-left: 1px;
}

table.table-data1 > tbody > tr > td:nth-child(5),
table.table-data2 > tbody > tr > td:nth-child(4),
table.table-data3 > tbody > tr > td:nth-child(3) {
    text-align: right;
    padding-right: 1px;
}

/* The generic data style.*/
/* The account data style*/
table.table-data1 > thead > tr > th:nth-child(1),
table.table-data2 > thead > tr > th:nth-child(1),
table.table-data3 > thead > tr > th:nth-child(1) {
    width: 9%;
}

table.table-data1 > thead > tr > th:nth-child(2){
    width: 18%;
}
table.table-data1 > thead > tr > th:nth-child(3),
table.table-data2 > thead > tr > th:nth-child(2) {
    width: 14%;
}

table.table-data1 > thead > tr > th:nth-child(4){
    width: 35%;
}
table.table-data2 > thead > tr > th:nth-child(3) {
    width: 53%;
}

table.table-data3 > thead > tr > th:nth-child(2) {
    width: 67%;
}

table.table-data1 > thead > tr > th:nth-child(5),
table.table-data2 > thead > tr > th:nth-child(4),
table.table-data3 > thead > tr > th:nth-child(3){
    width: 24%;
}



/* The hover event of the generic data menu */
table.table-data1 > tbody > tr:hover {
    background-color: rgba(176, 243, 221, 0.68);
    cursor: pointer;
}

/* The popup style*/
div.layout {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.7);
    z-index: 11;
}

/* The register popup*/
div.apply {
    border: 3px solid black;
    display: inline-block;
    width: 80%;
    background: #fff;
    margin-top: 20%;
    border-radius: 5px;
    height: 100%;
    max-height: 340px;
    overflow: auto;
    min-width: 320px;
    max-width: 320px;
    box-shadow: 3px 3px 3px 3px #928d8d;
}
div.apply.height340{
    max-height: 340px;
}
div.apply.height380{
    max-height: 380px;
}
/* The register title style*/
div.apply > div.title {
    font-size: 18pt;
    margin: 0px;
    background: #000;
    padding: 0px;
    color: #fff;
}

div.apply > div.title > label {
    padding: 5px;
    margin: 0px;
}

div.apply > div.title > span {
    float: right;
    padding: 5px;
    margin-top: 1px;
}

div.apply > div.title > span:hover {
    color: red;
}

span.glyphicon.glyphicon-remove {
    cursor: pointer;
}
/* The register main style*/
div.apply > div.layout-main {
    padding: 10px;
}

div.apply > div.layout-main > form > table {
    width: 100%;
}

div.apply > div.layout-main > form > table > tbody > tr {
    height: 40px;
}

div.apply > div.layout-main > form > table > tbody > tr > th {
    width: 30%;
    text-align: center;
}

div.apply > div.layout-main > form > table > tbody > tr > td {
    width: 70%;
    text-align: left;
}

div.apply > div.layout-main > form > table > tbody > tr > td > select {
    font-size: 14pt;
    text-align: left;
    text-align-last: left;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

div.apply > div.layout-main > form > table > tbody > tr > td > input[type=tel],
div.apply > div.layout-main > form > table > tbody > tr > td > input[type=text] {
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
}

div.apply > div.layout-main > form > table > tbody > tr > td > input[type=text] {
    width: 80%;
    height: 100%;
}

div.apply > div.layout-main > form > table > tbody > tr > td > input[type=tel] {
    width: 60%;
    height: 100%;
}

div.apply > div.layout-main > form > table > tbody > tr > td > input[type=button] {
    width: 70px;
}

div.apply > div.layout-main > form > table > tbody > tr > td > div > input[type=button],
div.apply > div.layout-main > form > table > tbody > tr > td > input[type=button] {
    background-color: rgba(183, 222, 241, 0.48);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
    padding: 0px;
}

div.apply > div.layout-main > form > table > tbody > tr > td > div > input {
    width: 100%;
}

div.apply > div.layout-main > form > table > tbody > tr > td > div.modify-area > input:nth-child(2) {
    background-color: rgba(234, 83, 118, 0.48);
}

/* The calulatoer*/
div.calc {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.7);
    z-index: 14;
}

div.calc > div.calcmain {
    position: absolute;
    top: 20%;
    left: 30%;
    border: 3px solid black;
    width: 200px;
    background: #fff;
    border-radius: 5px;
    min-width: 200px;
    z-index: 15;
    height: 100%;
    max-height: 290px;
    overflow: auto;
    box-shadow: 3px 3px 3px 3px #928d8d;
}
div.calc > div.calcmain > table > tbody > tr > td{
    text-align:right;
    padding-right: 10px;
}
div.calc > div.calcmain > table > tbody > tr > td > input[type=tel] {
    width: 80%;
    height: 50px;
    font-size: 20pt;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
}

div.calc > div.calcmain > table > tbody > tr > td.calc-sum > input[type=tel] {
    width: 50%;
    height: 30px;
    font-size: 10pt;
    text-align:right;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
}

div.calc > div.calcmain > table > tbody > tr > td > input[type=button] {
    width: 90%;
    background-color: rgba(183, 222, 241, 0.48);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
    padding: 0px;
}

div.calc > div.calcmain > div.title {
    font-size: 18pt;
    margin: 0px;
    background: #000;
    padding: 0px;
    color: #fff;
    margin-bottom: 5px;
}

div.calc > div.calcmain > div.title > label {
    padding: 5px;
    margin: 0px;
}

div.calc > div.calcmain > div.title > span {
    float: right;
    padding: 5px;
    margin-top: 1px;
}

div.calc > div.calcmain > div.title > span:hover {
    color: red;
}

label.error_mobile{
    color: red;
    margin-bottom: 20px;
    text-align: left;
    margin: 0px;
    float: left;
}

div.search-data > label{
    font-size: 10pt;
    margin-left: 20px;
    margin-right: 10px;
}

div.search-data > select {
    font-size: 10pt;
    text-align: center;
    text-align-last: center;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

input[type=button]#searchInit{
    background-color: rgba(183, 222, 241, 0.48);
    font-size: 10pt;
    font-weight: bold;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
}

span.fa{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 2px;
}
div.selectDiv.householdDay_mobile {
    width: 50px;
    text-align: center;
}
div.selectDiv.householdCategory_mobile {
    width: 100px;
    text-align: center;
}
div.selectDiv.householdType_mobile {
    width: 100px;
    text-align: center;
}