.mobile-private{
    display : none;
}
div.container {
    max-width: 769px;
    display: inline-block;
    padding-left:15px;
    padding-right:15px;
}

table.table-input{
    width:100%;
}
table.table-input > thead > tr > th:nth-child(1) {
    width: 9%;
}
table.table-input > thead > tr > th:nth-child(2) {
    width: 15.5%;
}
table.table-input > thead > tr > th:nth-child(3) {
    width: 10.5%;
}
table.table-input > thead > tr > th:nth-child(4) {
    width: 37.5%;
}
table.table-input > thead > tr > th:nth-child(5) {
    width: 32.5%;
}
table.table-input > thead > tr > th {
    text-align: center;
    background-color: #b7def1;
    border: 1px solid;
    font-size: 10pt;
}
div.search-data > label{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
div.search-data > select {
    font-size: 20px;
    text-align: center;
    text-align-last: center;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

table.table-input > tbody > tr:nth-child(1){
    height:40px;
}

table.table-input > tbody > tr > td {
    text-align: center;
    border: 1px solid;
}

table.table-input > tbody > tr > td > select {
    font-size: 12pt;
    text-align: center;
    text-align-last: center;
    border: 0px;
    border-bottom: 2px solid #67b4ec;
    background-color: #fff;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

table.table-input > tbody > tr > td > input {
    width: 100%;
    height: 35px;
    font-size: 15pt;
    padding-left:5px;
    padding-right:5px;
}

table.table-input > tbody > tr > td > input:focus {
    border-color: blue;
}

table.table-input div.apply-area > input {
    width: 100%;
    background-color: rgba(183, 222, 241, 0.48);
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    font-size: 15pt;
    font-weight: bold;
    height: 35px;
    padding: 0px;
}

table.table-input div.modify-area > input {
    width: 32%;
    background-color: rgba(183, 222, 241, 0.48);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11pt;
    font-weight: bold;
    height: 23px;
    padding: 0px;
}

table.table-input div.modify-area > input:nth-child(3) {
    background-color: rgba(234, 83, 118, 0.48);
}


div.normal-data > label:nth-child(3),
div.account-data > label:nth-child(3),
div.credits-data > label:nth-child(3),
div.total-data > span{
    float:right;
    margin-right:10px;
}
div.account-data,
div.credits-data,
div.normal-data,
div.total-data {
    margin-top:5px;
    font-size: 15pt;
    font-weight: bold;
    border: 1px solid black;
    padding-top:5px;
    padding-bottom: 5px;
}

div.main-data > div.total-data.data-income{
    background-color: rgba(234, 83, 118, 0.48);
}
div.main-data > div.total-data.data-expend{
    background-color: rgba(83, 116, 234, 0.48);
}

div.normal-data{
    background-color: rgba(108, 108, 255, 0.29);
}
div.account-data{
    background-color: rgba(43, 167, 77, 0.34);
}
div.credits-data{
    background-color: rgba(167, 135, 43, 0.34);
}

table.table-data1,
table.table-data2,
table.table-data3{
    width:100%;
}
table.table-data1 > thead > tr > th:nth-child(1),
table.table-data2 > thead > tr > th:nth-child(1)  {
    width: 9%;
}
table.table-data1 > thead > tr > th:nth-child(2),
table.table-data1 > thead > tr > th:nth-child(3),
table.table-data2 > thead > tr > th:nth-child(2) {
    width: 12%;
}
table.table-data1 > thead > tr > th:nth-child(4){
    width: 51.5%;
}
table.table-data2 > thead > tr > th:nth-child(3) {
    width: 63.5%;
}
table.table-data1 > thead > tr > th:nth-child(5),
table.table-data2 > thead > tr > th:nth-child(4) {
    width: 15.5%;
}

table.table-data1 > tbody > tr,
table.table-data2 > tbody > tr,
table.table-data3 > tbody > tr{
    height:40px;
}

table.table-data1 > tbody > tr:not(.nothing):not(.credit):hover{
    background-color:rgba(176, 243, 221, 0.68);
    cursor:pointer;
}

table.table-data1 > tbody > tr.click{
    background-color:rgba(243, 176, 229, 0.72);
}

table.table-data1 > tbody > tr > td,
table.table-data2 > tbody > tr > td,
table.table-data3 > tbody > tr > td {
    border: 1px solid;
}

table.table-data1 > tbody > tr > td:nth-child(4),
table.table-data2 > tbody > tr > td:nth-child(3),
table.table-data3 > tbody > tr > td:nth-child(2) {
    text-align:left;
    padding-left:5px;
}
table.table-data1 > tbody > tr > td:nth-child(5),
table.table-data2 > tbody > tr > td:nth-child(4),
table.table-data3 > tbody > tr > td:nth-child(3) {
    text-align:right;
    padding-right:5px;
}

table.table-data1 > thead > tr > th,
table.table-data2 > thead > tr > th,
table.table-data3 > thead > tr > th {
    text-align: center;
    background-color: #b7def1;
    border: 1px solid;
    font-size: 10pt;
}
table.table-data3 > thead > tr > th:nth-child(1) {
    width: 9%;
}
table.table-data3 > thead > tr > th:nth-child(2) {
    width: 75.5%;
}
table.table-data3 > thead > tr > th:nth-child(3) {
    width: 15.5%;
}

div.layout{
    display:none;
}

input[type=button]#searchInit{
    background-color: rgba(183, 222, 241, 0.48);
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    padding-left:5px;
    padding-right:5px;
}

div.household-date.day{
    width:100%;
}
div.household-category{
    width:100%;
}